* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/*---------------------------------------------------------------------
Table of Contents:
    1. Global Styles
    2. Typografie
    3. Areas
        3.1 Header
        3.2 ...
        3.3 ...
        3.4 ...
        3.5 Footer
    4. Media Queries
---------------------------------------------------------------------*/

/*----------------------
    1. Global Styles
----------------------*/

/*------------ 1.1 Kleuren ------------

-------------------------------------*/


/*----------------------
    2. Typography
----------------------*/

/*----------------------
    3. Areas
----------------------*/

/*------------ 3.1 Header ------------*/
